.txt
data.sqlite
scrapers/.ipynb_checkpoints/desktop.ini
scrapers/.ipynb_checkpoints/scraper_aqi-checkpoint.ipynb
scrapers/.ipynb_checkpoints/scraper_ow-checkpoint.ipynb
.ipynb_checkpoints/autocorrelation_meteo-checkpoint.ipynb
.ipynb_checkpoints/autocorrelation_price-checkpoint.ipynb
analysis/.ipynb_checkpoints/autocorrelation_meteo-checkpoint.ipynb
